<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link href="styles.css"rel="stylesheet"/>
</head>
<body>
        <header>HEADER</header>
        <nav>NAVIGATION BAR</nav>
        <main>
            <div class="secciones">
                <section class="columna">
                    <p>LEFT PANEL</p>
                </section>
                <section class="centro">
                    <p>MAIN CONTENT</p>
                </section>
                <section class="columna">
                    <p>RIGHT PANEL</p>
                </section>
            </div>
        </main>  
        <footer>FOOTER</footer>
</body>
</html>