main{
    height: 400px;
    width: 300px;
    margin: 150px 100px 200px 600px;
    background-color: #F7F7FC;
    border-radius: 10px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
.frutas{
    width: 250px;
    border-radius: 10px;
    text-align: center;
    margin: 30px 50px 0px 30px;
    background-color: #F7F7FC;
}
.card{
    margin: 150px;
}
body{
    background-color: #a5d6a7;
}
p{
    background-color: white;
    display: block;
    color: black;
    border: 1px solid transparent ;
    margin-bottom: 10px;
    border-radius: 10px;
}
.descripcion{
    background-color: #F7F7FC;
    color: #7d7a9e;
    width: 200px;
    text-align: center;
    margin: 10px 80px 0px 50px;
}
h1{
    font-weight: bold;
}